<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">The Learning Journal</h1>
  </div>
</div>

<div class="container my-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-light-blue text-white text-center">
            <h5 class="mb-0">Welcome</h5>
        </div>
        <div class="card-body">
          <ol>
            <li>Create entries by clicking on the "New Entry" button on the top right of the navigation bar.</li>
            <li>View all your entries by clicking on Ruby Learning Journal.</li>
            <li>Use the "ASK GPT" AI feature to complete anything you want...use with caution.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-image: url('/assets/homepageimg.png'); background-size: cover;">
  <div class="row">
    <div class="col-md-12">
      <img src="/assets/homepageimg.png" class="img-fluid" alt="Responsive image" style="max-height: 500px; width: auto;">
    </div>
  </div>
</div>
