<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;">
  <h1 class="fw-light text-center">Get Started</h1>
</div>

<div class="container my-4">
  <p>Welcome to our app! To get started, please follow these steps:</p>

  <ol>
    <li>Create an account by clicking on the "Sign Up" link in the top navigation bar.</li>
    <li>Add some entries to your account by clicking on the "New Entry" button on the home page.</li>
    <li>Use the AI feature by submitting an AI request on the AI Request page.</li>
  </ol>
</div>
