<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;" >
  <h1>All Entries</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      Name
    </div>
    <div class="col-sm">
      Link
    </div>
    <div class="col-sm">
      Action
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
       <% @entries.each do |entry| %>
        <h1 style="padding-top: 20px"></h1>
          <%= entry.name %> <br>
        <% end %>
    </div>
    <div class="col-sm">
      <% @entries.each do |entry| %>
        <h1 style="padding-top: 20px"></h1>
        <%= entry.link %> <br>
     <% end %>
    </div>
    <div class="col-sm" style="padding-top: 20px">
      <% @entries.each do |entry| %>
        <%= button_to "Delete", entry, method: :delete, data: { confirm: "Are you sure you want to delete this Project ?"} %> <br>
     <% end %>
    </div>
  </div>
</div>