<div class="mx-auto font-weight-bold" style="width: 200px; padding-top: 25px;">
  <h1 class="fw-light text-center">All Entries</h1>
</div>

<table class="table fw-light table-striped table-bordered table-hover">
  <thead class="bg-light-blue text-white">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Link</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each_with_index do |entry, index| %>
      <tr>
        <td>
          <%=index+1%>
        </td>
        <td>
          <%=entry.name%>
        </td>
        <td>
          <%=entry.link%>
        </td>
        <td>
          <%= button_to "Delete", entry, method: :delete, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

