
<nav class="navbar navbar-light" style="background-color: #e3f2fd; navbar-expand-lg">
  <ul class="nav">
    <li class="nav-item active">
      <%= link_to "Ruby learning journal", root_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "New Entry", new_entry_path, class: "nav-link" %>
    </li>
</nav>
