@import "bootstrap";
.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #f2f2f2;
}
.bg-light-blue {
    background-color: #2c3e50; /* light blue color */
  }

  .btn-primary {
    background-color: #2c3e50;
    color: #fff;
  }

  .table-row:hover {
    background-color: #f2f2f2;
  }
  
  .table td, .table th {
    border: none;
  }
  
  .table th {
    padding: 10px;
  }
  
  .table-row {
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-primary, .btn-danger {
    padding: 6px 12px;
  }